<!DOCTYPE html>
<html lang="en">
    <head>
       {{>headerlinks}}
    </head>
    <body>
       {{>navbar}}

{{!-- hero section start --}}
      <div class="container-fluid mt-5">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                      <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                          <h1>WE WILL HELP YOU TO</h1>
                          <h1>GROW YOUR BUSINESS</h1>
                          <p>We are the team of <span class="bold-style">Professional Developer</span></p>
                          <div class="row">
                
                               <div class="col-md-10 col-12 in">
                               <div class="collapse web" id="log">
                               <p class="read">A developer is an individual that builds and create software and applications. He or she writes, debugs and executes the source code of a software application. A developer is also known as a software developer, computer programmer, programmer, software coder or software engineer.</p>
                           
                               </div>
                               </div>
                               </div>
                         <div class="row">
                
                           <botton class="btn btn-style my-2 " data-toggle="collapse" data-target="#log">Read More</botton>
                           
                        </div> 
                          </div>
                      <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                         <figure>
                             <img src="image/images2.png">
                         </figure>
                      </div>
                  </div>

                  </div>
              
              </div>
              {{!-- hero section end --}}

              {{!-- about section start --}}
             <div class="container-fluid mt-5 about-style my-5" id="aboutid">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading">About Us</h1>
                  <p class="text-center sub-heading">Madan Mohan Malaviya University of Technology</p>
                   <div class="row">
                      <div class="col-md-6 col-12 hero-text ">
                         <figure>
                             <img src="image/images (1).jpg">
                         </figure>
                      </div>
                      <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                          <h1>WELCOME TO THE MMMUT,GORAKHPUR</h1>
                         
                          <p class="read"> Madan Mohan Malaviya University of Technology,<span class="bold-style">(MMMUT Student)</span>  Gorakhpur has been established in year 2013 by the Government of Uttar Pradesh in the form of a non-affiliating, teaching and research University after reconstituting the Madan Mohan Malaviya Engineering College, Gorakhpur which was established in 1962.
                          </p>

                          <div class="row">
                
                               <div class="col-md-12 col-12 in">
                               <div class="collapse web" id="log2">
                               <p class="read extra">Fifty-Five batches of students have entered its portals to emerge after four years of rigorous education under the tutelage of some of the most venerable teachers, engineers ready to face the world and create new worlds.</p>
                           
                               </div>
                               </div>
                               </div>
                         <div class="row">
                
                           <botton class="btn btn-style my-2 " data-toggle="collapse" data-target="#log2">Read More</botton>
                           
                        </div> 
                      </div>
                      
                  </div>

                  </div>
              
              </div>
                
         </div>
       {{!-- about section end --}}

       {{!-- service section start --}}
       <div class="container-fluid mt-5 about-style" id="serviceid">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading">Our Services</h1>
                  <p class="text-center sub-heading">Grow Your Business With Us.</p>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="box">
                              <div class="our-services settings">
                                  <div class="icon">
                                      <img src="http://i.imgur.com/6NKPrhO.png">
                                  </div>
                                  <h4>Settings</h4>
                                  <p>Experience is the Best Teacher</p>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="box">
                              <div class="our-services speedup">
                                  <div class="icon">
                                      <img src="http://i.imgur.com/vdH9LKi.png">
                                  </div>
                                  <h4>Speedup</h4>
                                  <p>Experience is the Best Teacher</p>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="box">
                              <div class="our-services privacy">
                                  <div class="icon">
                                      <img src="http://i.imgur.com/AgyneKA.png">
                                  </div>
                                  <h4>Privacy</h4>
                                  <p>Experience is the Best Teacher</p>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="box">
                              <div class="our-services backups">
                                  <div class="icon">
                                      <img src="http://i.imgur.com/vdH9LKi.png">
                                  </div>
                                  <h4>Backups</h4>
                                  <p>Experience is the Best Teacher</p>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="box">
                              <div class="our-services ssl">
                                  <div class="icon">
                                      <img src="http://i.imgur.com/v6OnUqu.png">
                                  </div>
                                  <h4>SSL Secured</h4>
                                  <p>Experience is the Best Teacher</p>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="box">
                              <div class="our-services database">
                                  <div class="icon">
                                      <img src="http://i.imgur.com/VzjZw9M.png">
                                  </div>
                                  <h4>Database</h4>
                                  <p>Experience is the Best Teacher</p>
                              </div>
                          </div>
                      </div>



                   </div>

                  </div>
              
              </div>
                
         </div>
       {{!-- about section end --}}
        {{!-- map section start --}}
           <section>
               
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.4056132206324!2d83.43093891367411!3d26.731429483205993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39915ca3e2aa136b%3A0xc039bdf0211338a9!2sMadan%20Mohan%20Malaviya%20University%20Of%20Technology!5e0!3m2!1sen!2sin!4v1635882287818!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

               
           </section>
           {{!-- map section end --}}

           {{!-- contact section start --}}
         <div class="container-fluid mt-5 about-style" id="contactid">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading">Contact Us</h1>
                  <p class="text-center sub-heading">We Will Be Happy To Help You</p>
                  <div class="row">
                      <div class="col-md-10 col-12">
                         <form action="/contact" method="POST">
                             <div class="form-group">
                     <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Name" name="name">
                     </div>
                          <div class="form-group">
                       <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                   <div class="form-group">
                     <label for="exampleInputPhone">Phone</label>
                    <input type="text" class="form-control" id="exampleInputPhone" placeholder="Phone Number" name="phone">
                     </div>
                       <div class="form-group">
                     <label for="exampleInputMessage">Message</label>
                    <input type="text" class="form-control" id="exampleInputMessage" placeholder="Type Message" name="message">
                     </div>
                   <div class="form-group form-check">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                     </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>

                       

                    </div>   
                  </div>

                  </div>
               </div>
                
            </div>
            {{!-- contact section end --}}



            {{!-- gallery section start --}}
            <div class="container-fluid mt-5 about-style" id="galleryid">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading">Gallery</h1>
                  <p class="text-center sub-heading">Welcome To The MMMUT,Gorakhpur</p>
                  <div class="row">
                      <div class="col-md-4 col-12 my-5">
                          <div class="card ">
                     <img class="card-img-top " src="image/images (4).jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Prof. J. P. Pandey</h4>
                     <p class="card-text">Present Vice Chancellor Of Madan Mohan Malviya University Of Technology,Gorakhpur</p>
                       </div>
                         </div>
                        
                        </div>   
                      <div class="col-md-4 col-12 my-5">
                          <div class="card " >
                     <img class="card-img-top " src="image/images (2).jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Aayash 2019-20</h4>
                     <p class="card-text">All MMMUT Student Participate in The Aayash 2019-20 And Running in The 100 metre  Race.</p>
                       </div>
                         </div>
                        
                        </div> 
                          <div class="col-md-4 col-12 my-5">
                          <div class="card " >
                     <img class="card-img-top " src="image/images (3).jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Abhyuday 2019-20</h4>
                     <p class="card-text">All MMMUT Student Participate in Abhyuday 2019-20 And Give Best Performance in The Dance Society Club.</p>
                       </div>
                         </div>
                        
                        </div> 
                         <div class="col-md-4 col-12 my-5">
                          <div class="card" >
                     <img class="card-img-top " src="image/download (1).jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">About MMMUT</h4>
                     <p class="card-text">Madan Mohan Malaviya University of Technology (MMMUT), Gorakhpur was established in 2013 and is recognised by the UGC.</p>
                       </div>
                         </div>
                        
                        </div> 
                         <div class="col-md-4 col-12 my-5">
                          <div class="card" >
                     <img class="card-img-top " src="image/download.jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Campus MMMUT</h4>
                     <p class="card-text">Campus of The MMMUT,Gorakhpur is Clean And Fresh Environment for Every Time.</p>
                       </div>
                         </div>
                        
                        </div> 
                         <div class="col-md-4 col-12 my-5">
                          <div class="card" >
                     <img class="card-img-top" src="image/download (2).jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Hostel MMMUT</h4>
                     <p class="card-text">Hostel Of The MMMUT is Best Because All Facility is available For Every Time And Ground Of Hostel is So Large.</p>
                       </div>
                         </div>
                        
                        </div> 





                  </div>

                  </div>
               </div>
                
            </div>
            {{!-- gallery section end --}}
            {{!-- footer --}}

            <footer >
                <p class=" m-3">Created By Salman Khan</p>
            </footer>
    </body>
    </html>